* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: none;
}

#app {
  width: 519px;
  height: 100%;
  background: radial-gradient(
      277.67% 132.79% at 147.3% 95.15%,
      rgba(205, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(105.92deg, rgba(0, 0, 0, 0) -129.48%, #000000 91.94%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 35px;
  padding-bottom: 50px;

  header {
    display: flex;
    align-items: center;
    flex-direction: column;

    img#logo {
      width: 45px;
      height: 53px;
    }

    h1 {
      font-weight: 800;
      font-size: 32px;
      text-align: center;
      color: #ffffff;

      margin-top: 8px;
      margin-bottom: 25px;
      text-shadow: 0px 0px 45px rgba(255, 255, 255, 0.38);
    }

    .divisor {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .square {
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
        background: rgba(255, 255, 255, 0.2);
      }

      hr {
        width: 326px;
        height: 1px;
        border: none;
        background: rgba(255, 255, 255, 0.2);
      }
    }

    ul {
      gap: 24px;
      display: flex;
      align-items: center;
      list-style: none;
    }
  }

  main {
    width: 457px;
    max-height: 666px;
    background: radial-gradient(
        123.5% 98.01% at 50% 100%,
        rgba(205, 0, 0, 0.15) 0%,
        rgba(0, 0, 0, 0) 87.03%
      ),
      rgba(0, 0, 0, 0.65);
    border-radius: 10px;

    margin-top: 10px;

    padding: 0 44px;
    padding-top: 38px;
    padding-bottom: 28px;

    .options {
      width: 100%;
      height: 100%;
      max-height: 100%;
      overflow-y: scroll;

      gap: 25px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: flex-start;

      .option {
        width: 106px;
        height: 106px;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        p:first-child {
          font-weight: 400;
          font-size: 10px;
          color: #ffffff;
          background: radial-gradient(
              131.17% 114.29% at 50% 0%,
              rgba(205, 0, 0, 0.55) 0%,
              rgba(0, 80, 205, 0) 100%
            ),
            rgba(0, 0, 0, 0.35);
          border-top: 1px solid #cd0000;
          border-radius: 0 0 3px 3px;

          padding: 2px 4px;
        }

        p:last-child {
          font-weight: 600;
          font-size: 10px;
          color: #ffffff;
          border-bottom: 1px solid #29ff7f;
          border-radius: 3px 3px 0px 0px;
          background: radial-gradient(
              101.38% 114.29% at 50% 100%,
              rgba(41, 255, 127, 0.55) 0%,
              rgba(0, 80, 205, 0) 100%
            ),
            rgba(0, 0, 0, 0.35);

          padding: 2px 4px;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .total {
      gap: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 24px;

      p {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
      }
    }

    button:nth-child(2) {
      width: 270px;
      height: 42px;
      background: radial-gradient(
          126.79% 126.79% at 50% 100%,
          rgba(205, 0, 0, 0.28) 0%,
          rgba(0, 80, 205, 0) 100%
        ),
        rgba(0, 0, 0, 0.1);
      border: 1px solid #cd0000;

      font-weight: 600;
      font-size: 10px;
      color: #ffffff;

      margin-bottom: 14px;
    }

    button:nth-child(3) {
      width: 270px;
      height: 42px;
      background: radial-gradient(
          126.79% 126.79% at 50% 100%,
          rgba(255, 55, 55, 0.28) 0%,
          rgba(255, 55, 55, 0) 100%
        ),
        rgba(0, 0, 0, 0.1);
      border: 1px solid #ff3737;

      font-weight: 600;
      font-size: 10px;
      color: #ffffff;

      margin-bottom: 14px;
    }

    button {
      cursor: pointer;
    }

    button:hover > p {
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
}

#cams {
  left: 50%;
  bottom: 25px;
  transform: translate(-50%);
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;

  span {
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    color: #ffffff;

    small {
      font-weight: 400;
    }
  }

  .keys {
    gap: 30px;
    display: flex;
    align-items: center;

    margin: 18px 0;

    .key {
      gap: 4px;
      display: flex;
      align-items: center;

      p {
        font-weight: 800;
        font-size: 24px;
        text-align: center;

        color: #ffffff;
      }
    }
  }

  .bodyCams {
    width: 260px;
    height: 54px;
    border-radius: 6px;
    border: 1px solid #cd0000;
    background: linear-gradient(270deg, rgba(205, 0, 0, 0.25) 0%, rgba(0, 80, 205, 0) 49.76%, rgba(205, 0, 0, 0.25) 98.49%);

    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 33px;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
}

@media (min-width: 800px) {
  #app {
    zoom: 0.5;
  }
}

@media (min-width: 1100px) {
  #app {
    zoom: 0.9;
  }
}

@media (min-width: 1280px) {
  #app {
    zoom: 0.6;
  }
}

@media (min-width: 1366px) {
  #app {
    zoom: 0.65;
  }
}

@media (min-width: 1440px) {
  #app {
    zoom: 0.75;
  }
}

@media (min-width: 1920px) {
  #app {
    zoom: 0.95;
  }
}

@media (min-width: 2000px) {
  #app {
    zoom: 0.8;
  }
}

@media (min-width: 3000px) {
  #app {
    zoom: 1.25;
  }
}
